<footer id="footer" class="footer">
    <br>
    <form id="footerForm" action="/theme" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-sm">&copy;2021-2022 Ryandw11</div>
                <div class="col-sm"></div>
                <div class="col-sm">
                    <select name="theme" id="theme" class="form-control">
                        <option value="0" {{#ifEq theme 0}}selected{{/ifEq}}>Dark</option>
                        <option value="1" {{#ifEq theme 1}}selected{{/ifEq}}>Light</option>
                    </select>
                </div>
            </div>
            <div class="row" id="footerRow2">
                <div class="col-sm"><a class="footerLink" href="https://ryandw11.gitbook.io/general/ryandw11-images/rest-api">Developers</a></div>
                <div class="col-sm"></div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    </form>
</footer>

<script>
    document.getElementById("theme").addEventListener('change', () => {
        document.getElementById("footerForm").submit();
    });
</script>