/* 
    Generic Styles
    Used on all pages.
    Contains footer styles
*/

/* Display the footer as a grid */
footer {
    color: var(--main-text-color);
    background-color: var(--footer-background-color);
    padding: 20px 0px;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.footerLink {
    color: var(--footer-color);
}

.footerLink:hover {
    color: rgb(78, 223, 78);
    text-decoration: none;
}

#footerRow2 {
    margin-top: -15px;
}

/* Fix the developer link on mobile. */
@media only screen and (max-width: 680px) {
    #footerRow2 {
        margin-top: 10px;
    }
}

footer select {
    background-color: var(--secondary-background-color) !important;
    color: var(--main-text-color) !important;
}

/* Removes padding and margin from the body. */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
