/**
* Color Configuration
*/

:root{
    --main-color: #11b611;
    --main-color-hover: rgb(21, 129, 21);
    --main-text-color: white;
    
    --background-color: rgb(32, 32, 32);
    --news-background-color: rgb(48, 48, 48);
    --secondary-background-color: rgb(63, 62, 62);
    --foucs-secondary-background-color: rgb(80, 80, 80);

    --footer-background-color: rgb(32, 32, 32);
}

/**
* STOP: This area should not be edited!
*
* Custom css styles to use the variable described above.
*/
.main-color{
    background-color: var(--main-color);
}

.main-color-text{
    color: var(--main-color);
}

.main-color-text-hover:hover{
    color: var(--main-color-hover);
}

.btn-theme:hover{
    background-color: var(--main-color-hover);
}

.btn-theme:focus{
    background-color: var(--main-color-hover) !important;
}

.txt-color{
    color: var(--main-text-color);
}

nav#navbar{
    background-color: var(--background-color);
}

p {
    color: var(--main-text-color);
}

body{
    background-color: var(--secondary-background-color);
}

div#headerBackground{
    background-color: var(--background-color);
}

h2{
    color: var(--main-color);
}

.bg-first{
 background-color: var(--background-color);   
}
.bg-second{
    background-color: var(--secondary-background-color);
}