/* 

    The index style sheet to style the index.

*/

/* Imports in the font-face named symbola using their stylesheet. */
/* @import url('https://fontlibrary.org/face/symbola'); */

html{
    overflow-x: hidden;
}

/* Sets the background of the slider tsection */
main section#sliderSection {
    background-color: rgb(207, 207, 207);
    width: 100%;
}

body>div>h1 {
    text-align: center;
    color: white;
    font-size: 5em;
    margin: 0;
    height: 400px;
    line-height: 400px;
}

/* Change the size based upon the mobile version */
@media only screen and (max-width: 600px) {
    body>div>h1 {
        text-align: center;
        color: white;
        font-size: 3em;
        margin: 0;
        height: 400px;
        line-height: 400px;
    }
}

div#headerBackground {
    /* background-image: url('/images/about.png'); */
    background-color: rgb(26, 68, 26);
    width: 100%;
    height: 400px;
}

/* Centers the slider. */
div#slider {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Sets the image in the header to be lower a little bit. */
header>img {
    width: 100%;
    margin-bottom: -4px;
}

/* 
    Sets the size of the slider in mobile mode
*/
@media only screen and (max-width: 600px) {
    #slider {
        width: 100%;
    }
}

/* Sets the size of the mobile for semi-large screens */
@media only screen and (min-width: 700px) {
    #slider {
        width: 50%;
    }
}

/* Sets the size of the header image for large screens. */
@media only screen and (min-width: 1000px) {
    header>img {
        width: 60%;
    }
}

section>nav {
    /* Sets the display to table */
    display: table;
    /* It has a width of 75% and is centered. */
    width: 75%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

section>nav p {
    /* A padding of 10 around the link */
    padding: 10px;
    /* Removes the link underlines */
    text-decoration: none;
    /* Adds the background color */
    background-color: rgba(0, 0, 0, 0);
    /* Centers the buttons */
    width: 100px;
    margin: auto;
    /* Sets the text color to white */
    height: 100px;
    border-radius: 100px;
    border: 1px solid var(--main-color);
}

section nav>ul {
    /* Sets the display to table-row */
    display: table-row;
}

section nav>ul>li {
    /* Sets the display to table-cell */
    display: table-cell;
    text-align: center;
}

section nav p:hover {
    background-color: var(--main-color-hover);
}

section nav p:hover a {
    color: white;
    text-decoration: none;
}

section nav p {
    cursor: pointer;
}

section nav ul li p{
    box-sizing: content-box;
}

/* Set the nav links to be orange. */
section nav a {
    color: var(--main-color);
    height: auto;
    margin-top: 5px;
    text-decoration: none;
    width: 100%;
    user-select: none;
}

section nav img {
    width: 60%;
}

section nav a aside {
    font-size: 0.5em;
}

/* Set the font of the first letter to be symbola. */
section nav p::first-letter {
    /* font-family: 'SymbolaRegular'; */
    font-size: 3.5em;
}

/* Sets the rest of the font to be 1em */
section nav p:not(::first-letter) {
    font-size: 1em;
}

h1{
    font-size: 3em;
    text-align: center;
    color: var(--main-color);
}

html,
body {
  height: 100%;
}